- name: update apt cache
  hosts: orangepi, raspberry
  become: true

  tasks:
    - name: apt update cache if it is older than 1 day
      register: updatesys
      apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 86400

    - name: apt install packages
      apt:
        name: 
          - build-essential 
          - git 
          - curl
          - "{{ kernel_header_package }}"
        state: present